<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exitGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{162,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,68},{162,60}}</string>
                <key>sourceSize</key>
                <string>{286,208}</string>
            </dict>
            <key>gameStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{162,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,68},{162,60}}</string>
                <key>sourceSize</key>
                <string>{286,208}</string>
            </dict>
            <key>loadGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{162,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,68},{162,60}}</string>
                <key>sourceSize</key>
                <string>{286,208}</string>
            </dict>
            <key>resumeGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,68},{162,60}}</string>
                <key>sourceSize</key>
                <string>{286,208}</string>
            </dict>
            <key>saveGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,68},{162,60}}</string>
                <key>sourceSize</key>
                <string>{286,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuBtn.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:833cf2ae7ff083fe05a5864bc2e7d71b:1/1$</string>
            <key>textureFileName</key>
            <string>menuBtn.png</string>
        </dict>
    </dict>
</plist>
